*.aux
*.log
template_mdt/
example_header1.tex
example_header0.tex
*.maf
*.mtc*
*.toc
*.bbl
*.out
*.xml
*.blg
main-blx.bib
*/*.aux
*.bak
thesis.sublime-workspace
others/temptative_plan-blx.bib
bin/main.fdb_latexmk
*.fdb_latexmk
*.fls
*.aux
*.bbl
*.blg
*.bib
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc*
*.out
*.xml
